<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Edit TV Show</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
</head>
<body>
    <nav class="d-flex justify-content-between align-items-center col-12">
            <h1 class="text-center">  </h1>
            <div class="col-4 d-flex justify-content-around">
                <a href="/dashboard" class="btn btn-info my-2 col-4">Dashboard</a>
                <a href="/logout" class="btn btn-danger my-2 col-4">Logout</a>
            </div>
    </nav>

    </nav>
    <form action="/update/post" method="post" class="col-11 p-4 my-4 bg-dark text-light mx-auto">
        <h2 class="text-primary text-center">Edit Your Post</h2>
        {% with messages = get_flashed_messages(category_filter=['post']) %}
            {% if messages %}
            <div class="alert alert-danger" role="alert">
                <strong>Flash AHHHHHHH!!!!</strong>
                    {% for message in messages %}
                    <p>{{message}}</p>
                    {% endfor %}
            </div>
            {% endif %}
        {% endwith %}
        <!-- something is messed up here -->
        <div class="d-flex justify-content-between col-8">
            <input type="hidden" name="id" value={{edit.id}}> 
                <div class="col-8">
                    <div class="form-group">
                        <label for="content">Post:</label>
                        <textarea name="content" value="" cols="30" rows="5" class="form-control form-control-lg">{{edit.content}}</textarea>
                    </div>
                    <input type="submit" value="Update" class="btn btn-primary">
                </div>
        </div>
    </form>
</body>
</html>