<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dashboard</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
</head>
<body>
    <br>
    <div id="top_bar">
        <div style="width: 800px; margin: auto; font-size:30px;">
            TechSpace &nbsp; &nbsp; <input type="text" id="search_box" placeholder="Search for ideas...">
            <a href="/logout" id="logout_button" class="btn btn-info">Logout</a>
        </div>
    </div>

    <!-- <nav class="d-flex justify-content-between align-items-center col-12">
        <h1 class="text-center">Welcome, {{user.first_name}}! </h1>
        <div class="d-flex col-4 justify-content-around">
            <a href="/logout" class="btn btn-info">Logout</a>
        </div> -->

    </nav>
    <div class="col-8 mx-auto">
        <h1 class="my-5">{{user.username}}</h1>

        <form action="/add/post" method="post" class="col-10 p-4 bg-dark text-light mx-auto d-flex justify-content-center">
            <h2 class="text-primary text-center">Post Something</h2>
            {% with messages = get_flashed_messages(category_filter=['post']) %}
                {% if messages %}
                <div class="alert alert-danger" role="alert">
                    <strong>Flash AHHHHHHH!!!!</strong>
                        {% for message in messages %}
                        <p>{{message}}</p>
                        {% endfor %}
                </div>
                {% endif %}
            {% endwith %}
            
            <div class="d-flex justify-content-between col-8">
                <div class="col-8">
                    <div class="form-group">
                        <label for="author">Author:</label>
                        <input type="text" name="author" class="form-control form-control-lg">
                        <label for="content">Post:</label>
                        <input type="text" name="content" class="form-control form-control-lg">
                    </div>
                    </div>
                    <input type="submit" value="Post something" class="btn btn-primary">
                </div>
                </div>
        </form>

        <br>
        <br>
        <br>
        
        <table class="table table-hover my-2">
            <thead>
                <tr>
                    <th>User</th>
                    <th>Post</th>
                    <th>Actions</th>
                </tr>
            </thead>
            <tbody>
                {% for post in post %}
                    <tr>
                        <td>
                            <a href="/post/{{post.id}}">{{post.author}}</a>
                        </td>
                        <td>{{post.content}}</td>
                        
                        <td>
                            <a href="">Like</a>
                            <a href="/post/{{post.id}}">Show</a>
                            {% if post.user_id == session.user_id %}
                                | <a href="/edit/post/{{post.id}}">Edit</a>
                                | <a href="/destroy/post/{{post.id}}">Delete</a>
                            {% endif %}
                        </td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
    <div class="d-flex justify-content-between align-items-center my-5 col-10">
        <a href="/new"> Click here</a>

        <a href='/new/profile' class="btn btn-primary">Add A Profile</a>
    </div>

    </body>
    </html>

    <form action="/add/post" method="post" class="col-10 p-4 bg-dark text-light mx-auto d-flex justify-content-center">
        <h2 class="text-primary text-center">Post Area</h2>
        {% with messages = get_flashed_messages(category_filter=['post']) %}
            {% if messages %}
            <div class="alert alert-danger" role="alert">
                <strong>Flash AHHHHHHH!!!!</strong>
                    {% for message in messages %}
                    <p>{{message}}</p>
                    {% endfor %}
            </div>
            {% endif %}
        {% endwith %}
        
        <div class="">
            <div class="col-8">
                <div class="form-group">
                    <label for="author">Author:</label>
                    <input type="text" name="author" class="form-control form-control-lg">
                    <label for="content">Post:</label>
                    <input type="textarea" name="content" class="form-control form-control-lg" id="post" placeholder="type something...">
                </div>
                </div>
                <input type="submit" value="Post something" class="btn btn-primary">
            </div>
            </div>
    </form>

    <br>
    <br>
    <br>
    
    <table class="">
        <thead>
            <tr>
                <th>User</th>
                <th>Post</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
            {% for post in post %}
                <tr>
                    <td>
                        <a href="/post/{{post.id}}">{{post.author}}</a>
                    </td>
                    <td>{{post.content}}</td>
                    
                    <td>
                        <a href="">Like</a>
                        <a href="/post/{{post.id}}">Show</a>
                        {% if post.user_id == session.user_id %}
                            | <a href="/edit/post/{{post.id}}">Edit</a>
                            | <a href="/destroy/post/{{post.id}}">Delete</a>
                        {% endif %}
                    </td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
<div class="d-flex justify-content-between align-items-center my-5 col-10">
    <a href="/new"> Click here</a>

    <a href='/new/profile' class="btn btn-primary">Add A Profile</a>
</div>